/* dark theme */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  border: none;
  list-style: none;
}

body {
  font-family: "Arial, sans-serif";
  background-color: #222831;
  color: #EEEEEE;
}
body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
body .container .btn {
  margin-bottom: 20px;
}
body .container .btn button {
  background-color: #FD7014;
  color: #222831;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
body .container .btn button:hover {
  background-color: #c34e02;
}
body .container .table {
  width: 80%;
  margin-bottom: 20px;
  text-align: center;
}
body .container .table table {
  border-collapse: collapse;
}
body .container .table table thead {
  background-color: #FD7014;
  color: #222831;
}
body .container .table table thead tr th,
body .container .table table thead tr td {
  padding: 10px;
  text-align: left;
}
body .container .table table tbody tr:nth-child(even) {
  background-color: #393E46;
}
body .container .table table tbody tr:hover {
  background-color: white;
  color: #222831;
}
body .container .table table tbody tr td {
  padding: 10px;
  border: 1px solid #ddd;
}
body .container .demoo, body .container .form {
  width: 100%;
  max-width: 600px;
  text-align: center;
  border: 3px solid #EEEEEE;
  border-radius: 10px;
  padding: 20px;
  background-color: #2c3440;
}
body .container .demoo .heading_form_edit, body .container .demoo .heading_form, body .container .form .heading_form_edit, body .container .form .heading_form {
  font-size: 2rem;
  color: #FD7014;
  margin: 1rem 0;
  text-align: center;
}
body .container .demoo .formEdit, body .container .demoo form, body .container .form .formEdit, body .container .form form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
body .container .demoo .formEdit .form-group-edit, body .container .demoo .formEdit .form-group, body .container .demoo form .form-group-edit, body .container .demoo form .form-group, body .container .form .formEdit .form-group-edit, body .container .form .formEdit .form-group, body .container .form form .form-group-edit, body .container .form form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
body .container .demoo .formEdit .form-group-edit input, body .container .demoo .formEdit .form-group input, body .container .demoo form .form-group-edit input, body .container .demoo form .form-group input, body .container .form .formEdit .form-group-edit input, body .container .form .formEdit .form-group input, body .container .form form .form-group-edit input, body .container .form form .form-group input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 5px;
}
body .container .demoo .formEdit button, body .container .demoo form button, body .container .form .formEdit button, body .container .form form button {
  background-color: #FD7014;
  color: #222831;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
body .container .demoo .formEdit button:hover, body .container .demoo form button:hover, body .container .form .formEdit button:hover, body .container .form form button:hover {
  background-color: #dc5802;
}/*# sourceMappingURL=table.css.map */